.header {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    z-index: 999;
}

.header .inner {
    max-width: 1440px;
    height: 96px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header .inner .gnb>ul {
    display: flex;
    gap: 32px;

}

.header .inner .gnb>ul>li {
    position: relative;
}

.header .inner .gnb>ul>li>a {
    display: block;
    line-height: 96px;
    font-size: 16px;
    font-weight: 500;

    color: #fff;
}

.header .inner .gnb>ul>li .sub {
    display: none;
    position: absolute;
    top: 96px;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, 0);

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);

    color: #fff;

    white-space: nowrap;
    padding: 0 24px 8px 24px;
}

.header .inner .gnb>ul>li:hover .sub {
    display: block;
}

.header .inner .gnb>ul>li:hover .sub a {
    display: block;
    line-height: 40px;
    text-align: left;

    font-size: 14px;
}

.header .utills {
    display: flex;
    gap: 8px;
}

.header .utills button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 8px 8px;
}

.main_visual {
    position: relative;
}

.main_visual .itm {
    height: calc(100vh);
}

.main_visual .itm01 {
    background: url(../images/main_visual_01.png)no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/main_visual_02.png)no-repeat center center/cover;
}

.main_visual .itm .title {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1440px;
    width: 100%;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.main_visual .itm .title p {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #fff;

    margin-bottom: 8px;
}

.main_visual .itm .title p::before {
    position: absolute;
    content: "";
    left: 232px;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 1px;
    background: #FFFAFA;
    opacity: 0.3;
}

.main_visual .itm02 .title p::before {
    position: absolute;
    content: "";
    left: 208px;
    bottom: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 1px;
    background: #FFFAFA;
    opacity: 0.3;
}

.main_visual .itm .title strong {
    font-size: 60px;
    font-weight: 600;
    line-height: 64px;
    color: #fff;
}

.main_visual .quick {
    position: absolute;
    bottom: 80px;
    left: 240px;


    display: flex;
    gap: 12px;


    font-size: 20px;
    line-height: 32px;
    color: #fff;

    z-index: 999;
}


.main_visual .quick a {
    position: relative;
    display: flex;


    width: 160px;
    padding: 24px 24px;
    background: rgb(217, 217, 217, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgb(255, 250, 250, 0.5);


}

.main_visual .quick i {
    position: absolute;

    bottom: 26px;
    right: 24px;

    height: 24px;
}

.main_visual .scroll {
    position: absolute;
    right: 240px;
    bottom: 180px;
    z-index: 2;

    width: 8px;
    height: 8px;

    transform: translate(-50%, 0);
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
}


.main_visual .scroll::after {
    content: "";
    position: absolute;
    right: calc(50% - 1px);


    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;

    animation: wheel 2.5s ease-in-out infinite;
}


@keyframes wheel {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

.main_hall {
    padding: 120px 0;
}

.main_hall .inner {
    max-width: 1170px;
    margin: 0 auto;
}


.main_hall .title h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 32px;
    color: #333;

    margin-bottom: 40px;
}

.main_hall .inner .t_box .tab_menu {
    position: absolute;
    display: flex;
    gap: 16px;
}

.main_hall .t_box .tab_menu>li>button {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: #666;
}